body {
  background-color: grey;
  margin: 0;
}

.title {
  font-size: 30px;
  display: inline-block;
  color: white;
}

.navtop {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.navtop a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navright {
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  top: 40px;
  right: 15px;
}

input[type="text"] {
  width: 10%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 50%;
  right: 300px;
}
.navtop a:hover {
  background-color: #ddd;
  color: rgb(8, 8, 8);
}

.navtop a.active {
  background-color: #040aaa;
  color: white;
}

.fotter {
  position: fixed;
  width: 100%;
  background-color: rgb(51, 51, 51);
  bottom: 0px;
  color: #f2f2f2;
  text-align: center;
  display: inline-block;
}
